body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a8dadc;
}
header {
    background-color: #457b9d; 
    color: #f1faee;
    padding: 20px 0;
    text-align: center;
}
.line {
    background-color: #3D6E8C;
    width: 100%;
    height: 8px; 
}
header nav a {
    margin: 0 15px;
    color: #f1faee;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
#home {
    margin-bottom: 40px;
}
.home-content {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
}
.home-text {
    flex: 2;
}
.home-photo {
    flex: 1; 
}
.home-photo img {
    width: 100%;
    max-width: 200px;
    object-fit: cover; 
    border-radius: 50px;
    border: ridge 2px #457b9d;
} 
footer {
    color: #f1faee;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
h1, h2, h3 {
    color: #000;
}
section {
    margin-bottom: 40px;
}
.job, .project {
    margin-bottom: 20px;
}
.job h3, .project h3 {
    margin: 0;
    color: #f0f0f0;
}
.job p, .project p {
    margin: 5px 0;
}
.company, .dates {
    font-weight: bold;
}
.dates {
    font-style: italic;
    color: #1d3557;
}
.projects-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}
.project {
    flex: 1;
    background-color: #a8dadc;
    border: 1px solid #457b9d;
    border-radius: 8px;
    overflow: hidden;
    max-width: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 3 / 4; 
}
.project img {
    width: 100%;
    height: 50%; 
    object-fit: cover;
}
.project-description {
    padding: 10px;
    flex: 1;
}
.project a {
    text-align: center;
    display: block;
    padding: 10px;
    background-color: #457b9d;
    color: #f1faee;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
}
.project a:hover {
    background-color: #2980b9;
}
.contact a:link{
    text-decoration: none;
}
.contact a:hover{
    color: red;
     text-decoration: underline;
}
table, th, td {
    border:1px solid black;
}
